<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles.css">
    <title>
        焼肉部位判定アプリになるはずのやつ
    </title>
</head>
<body>
    <div class="top-section">
        <div class="title">焼肉部位判定アプリになるはずのやつ</div>
        <button class="help-button" id="showHelp">ヘルプ</button>
    </div>

    <div class="middle-section">

        <div id="media-container">
            <video id="video" autoplay></video>
            <canvas id="canvas" width="640" height="480"></canvas>
        </div>
        <h1 class="result_str" id="h1_title"><span id="result"></span></h1>

        <!-- ヘルプボタンを押したときに表示されるボックス -->
        <div id="overlay">
    
            <div id="box">
                <span id="close-button" onclick="closeBox()">×</span>
                <pre>{{ helpdoc }}</pre>
            </div>
        </div>          
        
    </div>
    <div class="app_info_header" id="h2_info_header">モデル：犬猫判定</div>
    <div class="app_info_footer" id="h2_info_footer">「撮影して推論」か「画像で推論」を押してください</div>
    <div class="bottom-section">
        <a href="./" class="nav-button">トップ</a>
        <button class="nav-button"id="capture">
            撮影して<br>推論
        </button>
        <label class="nav-button" id="file-input-label">
            <input type="file" id="file-input" style="display:none">
            画像から<br>推論
        </label>
        <!-- <button class="nav-button" id="switch-camera">前後カメラ 切替</button> -->
        <button class="nav-button" id="switch_model">モデル<br>切替</button>
    </div>
</body>
</html>
<script src="static/javascript/camera.js"></script>