
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/organized_styles.css">
    <title>焼肉部位判定アプリになるはずのやつ</title>
</head>
<body>
    <div class="top-section">
        <div class="title">焼肉部位判定アプリになるはずのやつ</div>
        <button class="help-button">ヘルプ</button>
    </div>
    
    <div class="middle-section">
        <div id="media-container">
            <video id="video" autoplay></video>
            <canvas id="canvas" width="640" height="480"></canvas>
        </div>
        <h1 class="result_str" id="h1_title">犬猫判定：<span id="result"></span></h1>
    </div>
    
    <div class="bottom-section">
        <a href="./" class="nav-button">トップ</a>
        <button class="nav-button" id="capture">撮影して 推論</button>
        <label class="nav-button" id="file-input-label">
            <input type="file" id="file-input" style="display:none">
            ファイルを 選択して 推論
        </label>
        <button class="nav-button" id="switch-camera">前後カメラ 切替</button>
        <button class="nav-button">5</button>
    </div>
</body>
</html>
<script src="javascript/organized_camera.js"></script>
